body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h6 {
  color: aquamarine;
  font-size: 16px;
}

.sub {
  font-family: Verdana;
  font-weight: normal;
  font-size: 42px;
}

p {
  color: gray;
  font-size: 21px;
}

footer {
  text-align: right;
  color: gray;
}

.camp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
